<div class="card" id="pbl-file">
    <div class="card-header bg-dark">
        <h3 class="card-title text-white">
            <i class="fa fa-image"></i> Upload
        </h3>
    </div>
    <div class="card-body">
        <form action="/publications" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <div class="imput-group">
                    <div class="custom-file">
                        <input type="file" name="publication" id="inputGroup" aria-describedby="inputGroupFileAddon"
                            class="custom-file-input" required>
                        <label class="custom-file-label" for="inputGroupFile">Choose file</label>

                    </div>
                </div>
                <div class="form-group">
                    <input type="text" name="title" class="form-control" placeholder="Title for the publicatin" required>
                </div>
                <div class="form-group">
                    <textarea name="description" id="" rows="2" class="form-control" placeholder="description"
                        required></textarea>
                </div>
                <div class="form-group">
                <div class="btn-group p-5 ml-5 btn-group-justified">
                    <a href="#" class="btn btn-info">Multimedia</a>
                    <a href="#" class="btn btn-primary">Codigo &#60;/&#62;</a>
                </div>
                <button class="btn btn-success">
                    <i class="fa fa-upload"></i>Upload publicatin
                </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="card mt-2">
    <div class="card-header bg-dark text-white">
        <h3> <i class="far fa-images"></i> Publicaciones recientes</h3>
    </div>
    <div class="card-body">
       <div class="row">
            {{#each postPublications }}
            {{#if (publicationHelper filename) }}
                <div class="col-md-4">
                    <a href="/publications/{{uniqueId}}">
                        <img src="/public/upload/{{filename}}" alt="" width="100%" height="auto" class="img-thumbnail">
                    </a>    
                </div>
             {{else}}
             <div class="col-md-4">
                    <a href="/publications/{{uniqueId}}">
                        <video width="200" height="auto"  class="video-fluid z-depth-1" autoplay loop muted>
                            <source src="/public/upload/{{filename}}" type="video/mp4">
                        </video>
                    </a>    
                </div>
            {{/if}}
            {{/each}}
       </div>
    </div>
</div>